// 引用字体库
@font-face{
    font-family: myfont;
    src: url("http://www.example.com/myfont.ttf");
};
*{
    margin: 0;
    padding: 0;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.img(@url){
    background-image:@url;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
}
.border-bottom(@width, @color){
    border-bottom-width: @width;
    border-bottom-color:  @color;
    border-style: solid;
}
.border-top(@width, @color){
    border-top-width: @width;
    border-top-color:  @color;
    border-style: solid;
}
.border-left(@width, @color){
    border-left-width: @width;
    border-left-color:  @color;
    border-style: solid;
}
.border(@width, @color){
    border-width: @width;
    border-color:  @color;
    border-style: solid;
}